node_modules
.git
.dockerignore
apps/backend/node_modules
apps/backend/dist
apps/frontend/node_modules
apps/frontend/dist

.env
.env.example
.husky/
.vscode/
Makefile
Dockerfile
/cursor
/ci-cd
/.github
/.cursor
/README.md
/AGENTS.md